[submodule "Ext_libs/sa_stm32_g4"]
	path = Ext_libs/sa_stm32_g4
	url = https://github.com/reus-inc/sa_stm32_g4
[submodule "Ext_libs/protos_core"]
	path = Ext_libs/protos_core
	url = https://github.com/reus-inc/protos_core
[submodule "Ext_libs/protos_can_device"]
	path = Ext_libs/protos_can_device
	url = https://github.com/reus-inc/protos_can_device